{% extends '::base.html.twig' %}


{% block pageheader %}
    <h1>Deposit status List</h1>
{% endblock %}

{% block body -%}

        <table class="table table-striped table-condensed table-bordered table-hover">
        <thead>
            <tr>
                <th>Deposit</th>
                <th>Agreement</th>
                <th>Querydate</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in deposit.status %}
            <tr>
                <td><a href="{{ path('depositstatus_show', { 'id': entity.id, 'depositId': deposit.id, 'plnId': pln.id }) }}">{{ deposit.uuid }}</a></td>
                <td>{{ entity.agreement }}</td>
                <td>{% if entity.queryDate %}{{ entity.queryDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
