<html>
    <title>LOCKSSOMatic Manifest Page</title>
    <body>
        <h1>LOCKSSOMatic Manifest Page</h1>
        <ul>
            {% for row in content %}
                {% set item = row[0] %}
                <li><a href="{{ item.url }}">{{ item.url }}</a></li>
                {% endfor %}
        </ul>
        LOCKSS system has permission to collect, preserve, and serve this Archival Unit
    </body>
</html>
