/web/bundles/
/app/bootstrap.php.cache
/vendor/
/app/cache/*
!app/cache/.gitkeep
/app/logs/*
!app/logs/.gitkeep
/app/config/parameters.yml
/app/config/LOMSettings.yml
/build/
/bin/
/composer.phar
*.php~
