{% extends "::base.html.twig" %}

{% block pageheader %}
    <h1>Reset Password</h1>
{% endblock %}

{% block body %}

    <p>The password for this user was requested in the last 24 hours, and cannot
        be requested again. Please try again later.</p>

{% endblock %}

