{% extends '::base.html.twig' %}

{% block body -%}

    <p>Found {{plugins|length}} plugins.</p>
    <dl class="dl-horizontal">
    {% for plugin in plugins %}
        <dt>{{ plugin.name }}</dt>
        <dd>{{ plugin.description }}</dd>
        {% if plugin.hasSettings() %}
            <dd>
                <pre>{{ plugin.dumpSettings() }}</pre>
            </dd>
        {% endif %}
    {% endfor %}
    </dt>
    
{% endblock %}
