{% extends '::base.html.twig' %}


{% block pageheader %}
    <h1>{{ pln.name}} Keystore</h1>
{% endblock %}

{% block body -%}

	<p>Use this form to add or replace a PLN keystore file. Each PLN can have one
		keystore.</p>

	<p>
		{% if keystore %}
			The current keystore is {{ keystore.filename }}. The new keystore 
			will replace the old one.
		{% else %}
			This Pln does not have a keystore. The new keystore will be added.
		{% endif %}
	</p>

    {{ form(form) }}

{% endblock %}
