{% extends '::base.html.twig' %}

    
{% block pageheader %}
    <h1>Deposit Edit</h1>
{% endblock %}
    
{% block body -%}

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('deposit') }}">
            Back to the list
        </a>
    </li>


</ul>
{% endblock %}
