<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
    <head>
        <title>{{ pln.name }} Plugin Registry</title>
    </head>
    <body>
        <h3>{{ pln.name }} Plugin Registry</h3>        
        <ul>
            {% for plugin in pln.plugins %}
                <li><a href="{{ plugin.filename }}">{{ plugin.filename }}</a></li>
            {% endfor %}
        </ul>
        <p>
        LOCKSS system has permission to collect, preserve, and serve this Archival Unit
        </p>
    </body>
</html>
