{% extends "::base.html.twig" %}

{% block pageheader %}
    <h1>Change Password</h1>
{% endblock %}
    
{% block body %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form form-horizontal">
    {{ form(form) }}
</form>

{% endblock %}