{% extends '::base.html.twig' %}


{% block pageheader %}
    <h1>Profile Edit</h1>
{% endblock %}

{% block body -%}
    
    {{ form(form) }}
    
    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default">
                <span class='glyphicon glyphicon-arrow-left'></span> Back
            </a>
        </div>
    </div>

{% endblock %}
