{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ExternalTitleDbs edit</h1>

    {{ form(edit_form, { 'style': 'horizontal' }) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('externaltitledbs') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
