{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Aus creation</h1>

    {{ form(form, {"style": "horizontal"}) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('aus') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
