{% extends '::base.html.twig' %}

{% block body %}

        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>

{% endblock %}
